@import "../../assets/styles/index.scss";

.main {
  display: flex;
  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.main-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .main {
    display: none;
  }
}
