@import "../../assets/styles/index.scss";

.time {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.time-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 9px;
  color: $text-80;
}
