@import "./assets/styles/index.scss";

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiassed;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
