$action: #407ec9;
$text-60: #a19f9d;
$text-80: #605e5c;
$text-100: #201f1e;
$bg-hover: rgba(32, 31, 30, 0.04);
$bg-selected: rgba(64, 126, 201, 0.08);
$bg-message: rgba(64, 126, 201, 0.16);
$background: #f3f3f3;
